*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
  background-color: #060b1d;
}

.wrapper {
  width: 768px;
  margin: auto;
  height: 950px;
  background-color: #03113d;
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  grid-template-rows: 1fr 0.5fr 1.5fr 4fr 1fr;
  gap: 13px 0px;
  grid-template-areas:
    "header header header"
    "counter counter score"
    "question question question"
    "panel panel panel"
    ". send .";
  z-index: -1;
  opacity: 1;
}
.header {
  grid-area: header;
  text-align: center;
  width: 100%;
  font-family: "Codystar", cursive;
  font-size: 3rem;
  border: 0.5rem dotted rgba(255, 229, 204, 0.1);
  color: rgba(255, 255, 255, 0.1);
  animation: lights 1s ease infinite;
  -moz-animation: lights 1s ease infinite;
  -webkit-animation: lights 1.5s ease infinite;
}

/*lightsanimation*/

@keyframes lights {
  0%,
  100% {
    text-shadow: 0 0 20px rgb(248, 213, 117);
    color: rgba(255, 255, 255, 1);
    border: 0.5rem dotted rgba(255, 229, 204, 1);
  }
  50% {
    text-shadow: 0 0 20px rgba(248, 213, 117, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border: 0.5rem dotted rgba(255, 229, 204, 0.3);
  }
}

@keyframes questionLights {
  0%,
  100% {
    text-shadow: 0 0 20px rgb(248, 213, 117);
    border: 0.5rem dotted rgba(255, 229, 204, 1);
  }
  50% {
    text-shadow: 0 0 20px rgba(248, 213, 117, 0.3);
    border: 0.5rem dotted rgba(255, 229, 204, 0.3);
  }
}
.counter {
  grid-area: counter;
  background-color: #f3b61f;
  box-shadow: 10px 10px 0px 2px #ffd447;
  border-style: none;
  text-align: center;
  font-size: 2rem;
  font-family: "Holtwood One SC", serif;
}
.score {
  grid-area: score;
  background-color: #55917f;
  box-shadow: 10px 10px 0px 2px #6bab90;
  border-style: none;
  text-align: center;
  font-size: 2rem;
  font-family: "Holtwood One SC", serif;
}

.fa-star {
  color: #f3b61f;
}
.question {
  grid-area: question;
  background-color: #404c71;
  border: 0.5rem dotted rgba(255, 229, 204, 0.1);
  color: white;
  animation: questionLights 5s ease infinite;
  -moz-animation: questionLights 5s ease infinite;
  -webkit-animation: questionLights 5s ease infinite;
  font-family: "Staatliches", cursive;
  font-size: 3rem;
  text-align: center;
  margin-top: 0.5em;
}
.picture {
  grid-area: picture;
  margin-right: 50px;
  background-color: grey;
  margin-left: 20px;
}
.panel {
  grid-area: panel;
  margin: 2em 2em 0 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em 2em;
  font-family: 'Suez One', serif;
  font-size: 1.5rem;
  text-align: center;
  grid-template-areas:
    "answerA answerB"
    "answerC answerD";
}

.answer1, .answer2, .answer3, .answer4 {
  display: flex;
  padding: 0 5px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  animation: answerLights 3s ease infinite;
  -moz-animation: answerLights 3s ease infinite;
  -webkit-animation: answerLights 3s ease infinite;
  cursor: pointer;
}

@keyframes answerLights {
  0%,
  100% {
    text-shadow: 0 0 20px rgb(248, 213, 117);
    color: rgba(255, 255, 255, 1);
   
  }
  50% {
    text-shadow: 0 0 20px rgba(248, 213, 117, 0.3);
    color: rgba(255, 255, 255, 0.3);
    
  }
}

.answer1 {
  grid-area: answerA;
  background-color: #ff006e;
  animation: neonLights1 3s ease infinite;
}

@keyframes neonLights1 {
  0%,
  100% {
    box-shadow: 0 0 1vw #ff006e, 0 0 3vw #ff006e, 0 0 4vw #ff006e,
      0 0 6vw #ff006e;
  }
  50% {
    box-shadow: 0 0 0.5vw #530d2c, 0 0 1.5vw #530d2c, 0 0 3vw #530d2c,
      0 0 3.5vw #530d2c, 0 0 0.2vw #530d2c;
  }
}

.answer2 {
  grid-area: answerB;
  background-color: #03BF80;
  animation: neonLights2 3s ease infinite;
}

@keyframes neonLights2 {
  0%,
  100% {
    box-shadow: 0 0 1vw #03BF80, 0 0 3vw #03BF80, 0 0 4vw #03BF80,
      0 0 6vw #03BF80;
  }
  50% {
    box-shadow: 0 0 0.5vw #024b32, 0 0 1.5vw #024b32, 0 0 3vw #024b32,
      0 0 3.5vw #024b32, 0 0 0.2vw #024b32;
  }
}
.answer3 {
  grid-area: answerC;
  background-color: #3A86FF;
  animation: neonLights3 3s ease infinite;
}

@keyframes neonLights3 {
  0%,
  100% {
    box-shadow: 0 0 1vw #3A86FF, 0 0 3vw #3A86FF, 0 0 4vw #3A86FF,
      0 0 6vw #3A86FF;
  }
  50% {
    box-shadow: 0 0 0.5vw #0f2e5f, 0 0 1.5vw #0f2e5f, 0 0 3vw #0f2e5f,
      0 0 3.5vw #0f2e5f, 0 0 0.2vw #0f2e5f;
  }
}
.answer4 {
  grid-area: answerD;
  background-color: #8338EC;
  animation: neonLights4 3s ease infinite;
}

@keyframes neonLights4 {
  0%,
  100% {
    box-shadow: 0 0 1vw #8338EC, 0 0 3vw #8338EC, 0 0 4vw #8338EC,
      0 0 6vw #8338EC;
  }
  50% {
    box-shadow: 0 0 0.5vw #351563, 0 0 1.5vw #351563, 0 0 3vw #351563,
      0 0 3.5vw #351563, 0 0 0.2vw #351563;
  }
}
.send {
  grid-area: send;
  align-self: center;
  justify-self: center;
  font-family: "Codystar", cursive;
  font-size: 2rem;
  background: none;
  border: 0.1rem dotted rgba(255, 229, 204, 0.1);
  color: rgba(255, 255, 255, 0.1);
  animation: sendLights 1s ease infinite;
  -moz-animation: sendLights 1s ease infinite;
  -webkit-animation: sendLights 1.5s ease infinite;
  padding: 5px;
  cursor: pointer;
}

@keyframes sendLights {
  0%,
  100% {
    text-shadow: 0 0 20px rgb(248, 213, 117);
    color: rgba(255, 255, 255, 1);
    border: 0.15rem dotted rgba(255, 229, 204, 1);
  }
  50% {
    text-shadow: 0 0 20px rgba(248, 213, 117, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border: 0.15rem dotted rgba(255, 229, 204, 0.3);
  }
}
.right,
.wrong,
.final,
.timeOut {
  visibility: hidden;
  width: 700px;
  height: 300px;
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% - 350px);
  z-index: 1;
  font-size: 1.5rem;
  font-family: "Holtwood One SC", serif;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.displayRightAnswer {
  margin-top: 0.5em;
  display: block;
  text-align: center;
  color: white;
  animation: questionLights 5s ease infinite;
  -moz-animation: questionLights 5s ease infinite;
  -webkit-animation: questionLights 5s ease infinite;
  font-family: "Staatliches", cursive;
  font-size: 3rem;
}

.newQuestion, .rest {
  align-self: flex-end;
  justify-self: flex-end;
  background: none;
  cursor: pointer;
  font-family: "Codystar", cursive;
  color: white;
  font-weight: 900;
  font-size: 2rem;
  margin-top: 0.2em;
}
.wrong, .timeOut {
  background: #F71735;
  box-shadow: 10px 10px 0px 2px #FF5964, -10px -10px 0px 2px #FF5964;

}

.right, .final {
  background: #00cc66;
  box-shadow: 10px 10px 0px 2px #60a561, -10px -10px 0px 2px #60a561;
  text-align: center;
}
.right > i {
  font-size: 4rem;
  margin-bottom: 0.5em;
}
.active {
  background-color:#FFBE0B;
  animation: neonLights5 3s ease infinite;
}

@keyframes neonLights5 {
  0%,
  100% {
    box-shadow: 0 0 1vw #FFBE0B, 0 0 3vw #FFBE0B, 0 0 4vw #FFBE0B,
      0 0 6vw #FFBE0B;
  }
  50% {
    box-shadow: 0 0 0.5vw #805f05, 0 0 1.5vw #805f05, 0 0 3vw #805f05,
      0 0 3.5vw #805f05, 0 0 0.2vw #805f05;
  }
}

